<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="content_body">
<!-- 	<div class="profile">admin</div> -->

	<div class="page_content box">
		<div class="search_box box">search</div>

		<div class="list_box box">
			List
			<button class="ui button" id="add_course">Add</button>
			<div>	
				<table id="lecture_list" class="ui celled padded table center aligned">
					<thead>
						<tr>
							<th>No</th>
							<th>Lecture Name</th>
							<th>Grade</th>
							<th>Personnel</th>
							<th>Lecture Time</th>
							<th>Professor</th>
							<th>Lecture Room</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td class="single line">Power Output</td>
							<td class="single line">3</td>
							<td>60</td>
							<td>Mon A, Wen B</td>
							<td>Soo</td>
							<td>Room 301</td>
						</tr>
					</tbody>
<!-- 					<tfoot> -->
<!-- 						<tr> -->
<!-- 							<th colspan="7"> -->
<!-- 								<div class="ui right floated pagination menu"> -->
<!-- 									<a class="icon item"> <i class="left chevron icon"></i> -->
<!-- 									</a> <a class="item">1</a> <a class="item">2</a> <a class="item">3</a> -->
<!-- 									<a class="item">4</a> <a class="icon item"> <i -->
<!-- 										class="right chevron icon"></i> -->
<!-- 									</a> -->
<!-- 								</div> -->
<!-- 							</th> -->
<!-- 						</tr> -->
<!-- 					</tfoot> -->
				</table>
			</div>
		</div>

		<div class="picture_box box">
			picture
<!-- 			<div>	 -->
<!-- 				<form class="ui form"> -->
<!-- 				  <div class="field"> -->
<!-- 				    <label>Lecture Name</label> -->
<!-- 				    <input type="text" name="lecture_name" placeholder="Lecture Name"> -->
<!-- 				  </div> -->
<!-- 				  <div class="field"> -->
<!-- 				      <label>Grade</label> -->
<!-- 				      <div class="ui selection dropdown"> -->
<!-- 				          <input type="hidden" name="grade"> -->
<!-- 				          <i class="dropdown icon"></i> -->
<!-- 				          <div class="default text">Grade</div> -->
<!-- 				          <div class="menu"> -->
<!-- 				              <div class="item" data-value="2">2</div> -->
<!-- 				              <div class="item" data-value="3">3</div> -->
<!-- 				          </div> -->
<!-- 				      </div> -->
<!-- 				  </div> -->
<!-- 				  <div class="field"> -->
<!-- 				    <label>Personnel</label> -->
<!-- 				    <div class="ui selection dropdown"> -->
<!-- 				          <input type="hidden" name="personnel"> -->
<!-- 				          <i class="dropdown icon"></i> -->
<!-- 				          <div class="default text">personnel</div> -->
<!-- 				          <div class="menu"> -->
<!-- 				              <div class="item" data-value="40">40</div> -->
<!-- 				              <div class="item" data-value="60">60</div> -->
<!-- 				              <div class="item" data-value="120">120</div> -->
<!-- 				          </div> -->
<!-- 				    </div> -->
<!-- 				  </div> -->
<!-- 				  <div class="field"> -->
<!-- 				    <label>Lecture Time</label> -->
<!-- 				    <select class="ui fluid search dropdown" multiple="" name='lecture_time'> -->
<!-- 				    	<option value="MA">Mon A</option> -->
<!-- 				    	<option value="MB">Mon B</option> -->
<!-- 				    	<option value="MC">Mon C</option> -->
<!-- 				    	<option value="MD">Mon D</option> -->
<!-- 				    	<option value="ME">Mon E</option> -->
<!-- 				    </select> -->
<!-- 				  </div> -->
<!-- 				  <div class="field"> -->
<!-- 				    <label>Professor</label> -->
<!-- 				    <input type="text" name="professor" placeholder="Professor"> -->
<!-- 				  </div> -->
<!-- 				  <div class="field"> -->
<!-- 				    <label>Lecture Room</label> -->
<!-- 				    <select class="ui fluid search dropdown" name="lecture_room"> -->
<!-- 				    	<option value="101">Room 101</option> -->
<!-- 				    	<option value="102">Room 102</option> -->
<!-- 				    	<option value="103">Room 103</option> -->
<!-- 				    	<option value="104">Room 104</option> -->
<!-- 				    	<option value="201">Room 201</option> -->
<!-- 				    	<option value="202">Room 202</option> -->
<!-- 				    	<option value="203">Room 203</option> -->
<!-- 				    	<option value="301">Room 301</option> -->
<!-- 				    	<option value="302">Room 302</option> -->
<!-- 				    	<option value="303">Room 303</option> -->
<!-- 				    	<option value="304">Room 304</option> -->
<!-- 				    </select> -->
<!-- <!-- 				    <input type="text" name="last-name" placeholder="Lecture Room"> --> -->
<!-- 				  </div> -->
<!-- 				</form> -->
<!-- 			    <button class="ui button" id="add_btn">Add</button> -->
<!-- 			</div>	 -->
		</div>

		<div class="shopping_box box">
			shopping list
			<div>
				<table class="ui celled table">
				  <thead>
				    <tr>
						<th>No</th>
						<th>Lecture Name</th>
						<th>Grade</th>
						<th>Personnel</th>
						<th>Lecture Time</th>
						<th>Professor</th>
						<th>Lecture Room</th>
					</tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td data-label="Name">James</td>
				      <td data-label="Age">24</td>
				      <td data-label="Job">Engineer</td>
				      <td data-label="Job">Engineer</td>
				      <td data-label="Job">Engineer</td>
				      <td data-label="Job">Engineer</td>
				      <td data-label="Job">Engineer</td>
				    </tr>
				    <tr>
				      <td data-label="Name">Jill</td>
				      <td data-label="Name">Jill</td>
				      <td data-label="Name">Jill</td>
				      <td data-label="Name">Jill</td>
				      <td data-label="Age">26</td>
				      <td data-label="Age">26</td>
				      <td data-label="Job">Engineer</td>
				    </tr>
				    <tr>
				      <td data-label="Name">Elyse</td>
				      <td data-label="Name">Elyse</td>
				      <td data-label="Name">Elyse</td>
				      <td data-label="Name">Elyse</td>
				      <td data-label="Name">Elyse</td>
				      <td data-label="Age">24</td>
				      <td data-label="Job">Designer</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="ui modal">
	  	<i class="close icon"></i>
	  	<div class="header">
	    	Add Course
	  	</div>

	  	<div>	
			<form class="ui form add_form">
			  <div class="field">
			    <label>Lecture Name</label>
			    <input type="text" name="lecture_name" placeholder="Lecture Name">
			  </div>
			  <div class="field">
			      <label>Grade</label>
			      <div class="ui selection dropdown">
			          <input type="hidden" name="grade">
			          <i class="dropdown icon"></i>
			          <div class="default text">Grade</div>
			          <div class="menu">
			              <div class="item" data-value="2">2</div>
			              <div class="item" data-value="3">3</div>
			          </div>
			      </div>
			  </div>
			  <div class="field">
			    <label>Personnel</label>
			    <div class="ui selection dropdown">
			          <input type="hidden" name="personnel">
			          <i class="dropdown icon"></i>
			          <div class="default text">personnel</div>
			          <div class="menu">
			              <div class="item" data-value="40">40</div>
			              <div class="item" data-value="60">60</div>
			              <div class="item" data-value="120">120</div>
			          </div>
			    </div>
			  </div>
			  <div class="field">
			    <label>Lecture Time</label>
			    <select class="ui fluid search dropdown" multiple="" name='lecture_time'>
			    	<option value="MA">Mon A</option>
			    	<option value="MB">Mon B</option>
			    	<option value="MC">Mon C</option>
			    	<option value="MD">Mon D</option>
			    	<option value="ME">Mon E</option>
			    </select>
			  </div>
			  <div class="field">
			    <label>Professor</label>
			    <input type="text" name="professor" placeholder="Professor">
			  </div>
			  <div class="field">
			    <label>Lecture Room</label>
			    <select class="ui fluid search dropdown" name="lecture_room">
			    	<option value="101">Room 101</option>
			    	<option value="102">Room 102</option>
			    	<option value="103">Room 103</option>
			    	<option value="104">Room 104</option>
			    	<option value="201">Room 201</option>
			    	<option value="202">Room 202</option>
			    	<option value="203">Room 203</option>
			    	<option value="301">Room 301</option>
			    	<option value="302">Room 302</option>
			    	<option value="303">Room 303</option>
			    	<option value="304">Room 304</option>
			    </select>
	<!-- 				    <input type="text" name="last-name" placeholder="Lecture Room"> -->
	  		  </div>
			</form>
		</div>

	  	<div class="actions">
		    <div class="ui positive right labeled icon button">
		      Add
		      <i class="checkmark icon"></i>
		    </div>
		    <div class="ui black deny button">
		      Cancel
		    </div>
	  	</div>
	</div>

</th:block>

<th:block layout:fragment="custom_js">
		<script src="js/api/home.js"></script>
</th:block>
</html>