<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{layout/default}">
  	  
<th:block layout:fragment="content_body">	
	<div class="page_content">
		<div>
			search
		</div>
		
		<div>
			List
		</div>
		
		<div>
			picture
		</div>
	
		<div>
			shopping list
		</div>
	</div>

</th:block>

<th:block layout:fragment="custom_js">
<!-- 	<script src="js/login.js"></script> -->
</th:block>
</html>